<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPassword</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/css/forgot-password.css">
</head>
<body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <div class="form-gap"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            @if (ViewBag.Message == true)
                            {
                                <div class="alert alert-success" role="alert">
                                    @ViewBag.SuccessMessage
                                </div>
                            }
                            else if (ViewBag.Message == false)
                            {
                                <div class="alert alert-danger" role="alert">
                                    @ViewBag.FailMessage
                                </div>
                            }
                            <h3><i class="fa fa-lock fa-4x"></i></h3>
                            <h2 class="text-center">Quên mật khẩu?</h2>
                            <p>Bạn có thể tìm lại mật khẩu tại đây</p>
                            <div class="panel-body">
                                @using (Html.BeginForm("SendPasswordToMail", "Login", FormMethod.Post))
                                {
                                    //input
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                            <input id="email" name="email" placeholder="Nhập địa chỉ Email" class="form-control" type="email" required>
                                        </div>
                                    </div>
                                    //submit
                                    <div class="form-group">
                                        <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Gửi mật khẩu cho tôi" type="submit">
                                    </div>
                                    <div class="mt-4 text-center">
                                        <a href="/login">Quay lại trang đăng nhập</a>
                                    </div>
                                }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            Copyright &copy; 2021 &mdash; My team ❤
        </div>
    </div>
</body>
</html>
