body {
    margin     : 0px;
    font-family: 'Josefin Sans', sans-serif;
}

a {
    text-decoration: none;
}

.alert {
    position: fixed !important;
    right: 10px !important;
    bottom: 10px !important;
}

#body {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.left-bar {
    display       : flex;
    flex-direction: column;

    height: 100%;
    width : 15%;

    border-right: 1px solid rgb(231, 231, 231);
}

.right-bar {
    width : 85%;
    height: 100%;

    display       : flex;
    flex-direction: column;
}

.bar-logo {
    margin: 20px;
}

.bar-info {
    margin: 20px;

    padding: 10px 20px;

    border-radius: 10px;

    background-color: #f4f6f8;

    display       : flex;
    flex-direction: row;
    align-items   : center;
}

.bar-info-name {
    margin-left: 10px;
}

.nav-bar>ul {
    list-style: none;

    margin: 20px;

    padding: 0px;
}

.nav-bar>ul>li {
    display       : flex;
    flex-direction: row;
    align-items   : center;

    font-size: 14px;
}

.nav-bar>ul>li>a {
    display       : flex;
    flex-direction: row;
    align-items   : center;

    padding: 10px 20px;

    border-top-left-radius   : 10px;
    border-bottom-left-radius: 10px;

    width: 100%;
    color: #686868 !important;
}

.nav-bar>ul>li>a:hover {
    background-color  : #F6F7F8;
    border-right-color: rgb(197, 197, 197);
    border-width      : 0px 3px 0px 0px;
    border-style      : solid;
}

.nav-bar-img {
    margin-right: 20px;
}

.active-link-nav {
    background-color  : #ebf8f2;
    border-right-color: #00ab55;
    border-width      : 0px 3px 0px 0px;
    border-style      : solid;
}

.heder-body {
    display        : flex;
    align-items    : center;
    justify-content: space-between;

    height      : 120px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: rgb(231, 231, 231);
}

.header-content {
    font-size  : 24px;
    font-weight: bold;
    margin-left: 30px;
}

.header-search>form>input {
    outline      : none;
    border       : solid 1px #ccc;
    padding      : 10px 20px;
    width        : 200px;
    border-radius: 10em;
    margin-right : 30px;
    transition   : ease-in .3s;
}

.header-search>form>input:focus {
    width: 400px;
}

.nav {
    height: 100%;

    display       : flex;
    flex-direction: column;

    justify-content: space-between;
}

.main-body {
    height    : 100%;
    overflow-y: auto;

    padding: 20px;

    background-color: #F7F8FA;
}