<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/vendor/aos/aos.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/admin/index.css">
    <link rel="stylesheet" href="~/Content/css/admin/courseDetail.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">

    <title>Add Course | Admin | E-Learning</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div id="body">
        <div class="left-bar">
            <div>
                <div class="bar-logo">
                    <img src="~/Content/img/android-chrome-192x192.png" alt="logo" height="40px">
                </div>
                <div class="bar-info">
                    <div class="bar-info-img">
                        <img src="https://img.icons8.com/office/40/000000/user-male-circle.png" />
                    </div>
                    <div class="bar-info-name">
                        @ViewBag.adminName
                    </div>
                </div>
            </div>
            <div class="nav">
                <div class="nav-bar">
                    <ul>
                        <li>
                            <a href="/admin/user">
                                <div class="nav-bar-img">
                                    <img src="https://img.icons8.com/ios-glyphs/26/686868/user.png" />
                                </div>
                                <div class="nav-bar-name">
                                    User
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/course" class="active-link-nav">
                                <div class="nav-bar-img">
                                    <img src="https://img.icons8.com/ios-filled/26/686868/courses.png" />
                                </div>
                                <div class="nav-bar-name">
                                    Course
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="nav-bar">
                    <ul>
                        <li>
                            <a href="/admin/login">
                                <div class="nav-bar-img">
                                    <img src="https://img.icons8.com/material-sharp/26/686868/shutdown.png" />
                                </div>
                                <div class="nav-bar-name">
                                    Logout
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right-bar">
            <div class="heder-body">
                <div class="header-content">
                    <div>Add course</div>
                </div>

                <div class="overlay"></div>
                <div class="header-search">
                </div>
            </div>
            <div class="main-body">
                <div class="detail-course">
                    <div class="course-img">
                        <img id="image-overlay"
                             src="https://www.pikpng.com/pngl/b/74-745720_download-img-icon-png-clipart.png"
                             alt="image course" style="width:100%">
                    </div>
                    <div class="course-info">
                        <div class="course-el">
                            @if (ViewBag.message == true)
                            {
                                <div style="position: fixed; bottom: 10px; right: 10px" class="alert alert-success alert-dismissible fade show" role="alert">
                                    Course has been add successful!!!
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            }
                            else if (ViewBag.message == false)
                            {
                                <div style="position: fixed; bottom: 10px; right: 10px" class="alert alert-danger alert-dismissible fade show" role="alert">
                                    Add course fail because the course's name has been existed or input information invalid!
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            }
                            @using (Html.BeginForm("AddingNewCourse", "AdminCourse", FormMethod.Post))
                            {
                                <div class="top">
                                    <div>
                                        <label for="name">Course Name: </label>
                                        <input type="text" name="name" id="name" placeholder="Enter course's name" value="" required>
                                    </div>
                                    <br>
                                    <div>
                                        <label for="desc">Description: </label><br>
                                        <textarea style="width:100%" name="description" id="description" cols="100%" rows="10" placeholder="Enter course's description" required></textarea>
                                    </div>
                                    <br>
                                </div>

                                <label for="image">Image: </label>
                                <input type="text" name="image" id="image"
                                       value="" placeholder="Copy link image here to check" required>
                                <input type="button" value="Check image" onclick="checkImage()">
                                <br />
                                <br />
                                <button type="submit" class="btn btn-success">Add Course</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="~/Content/script/courseDetail.js"></script>

</html>