<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/css/admin/index.css">
    <link rel="stylesheet" href="~/Content/css/admin/courseDetail.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <title>Edit course | Admin | E-Learning</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div id="body">
        <div class="left-bar">
            <div>
                <div class="bar-logo">
                    <img src="~/Content/img/android-chrome-192x192.png" alt="logo" height="40px">
                </div>
                <div class="bar-info">
                    <div class="bar-info-img">
                        <img src="https://img.icons8.com/office/40/000000/user-male-circle.png" />
                    </div>
                    <div class="bar-info-name">
                        Mạnh Tùng
                    </div>
                </div>
            </div>
            <div class="nav">
                <div class="nav-bar">
                    <ul>
                        <li>
                            <a href="/user.html">
                                <div class="nav-bar-img">
                                    <img src="https://img.icons8.com/ios-glyphs/26/686868/user.png" />
                                </div>
                                <div class="nav-bar-name">
                                    User
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/course.html" class="active-link-nav">
                                <div class="nav-bar-img">
                                    <img src="https://img.icons8.com/ios-filled/26/686868/courses.png" />
                                </div>
                                <div class="nav-bar-name">
                                    Course
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="nav-bar">
                    <ul>
                        <li>
                            <a href="#">
                                <div class="nav-bar-img">
                                    <img src="https://img.icons8.com/material-sharp/26/686868/shutdown.png" />
                                </div>
                                <div class="nav-bar-name">
                                    Logout
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right-bar">
            <div class="heder-body">
                <div class="header-content">
                    <div>Edit course</div>
                </div>
            </div>
            <div class="main-body">
                <div class="detail-course">
                    <div class="course-img">
                        <img id="image-overlay"
                             src="https://1.bp.blogspot.com/-1F0txd6CTXk/XyjEn1_2atI/AAAAAAAAiX0/2X1yKYprbxEAPvrNA4VoX_nuv8nawCSuQCNcBGAsYHQ/s564/a5a84b393a0778e047f87c79478481e7.jpg"
                             alt="image course" width="100%">
                    </div>
                    <div class="course-info">
                        <div class="course-el">
                            <form action="" method="get">
                                <div class="top">
                                    <div>
                                        <label for="id">ID: </label>
                                        <input type="text" id="id" value="{id}" disabled>
                                    </div>
                                    <br>
                                    <div>
                                        <label for="name">Name: </label>
                                        <input type="text" name="name" id="name" value="{name}">
                                    </div>
                                    <br>
                                    <div>
                                        <label for="desc">Description: </label><br>
                                        <textarea name="desc" id="desc" cols="100%" rows="10"></textarea>
                                    </div>
                                    <br>
                                </div>

                                <label for="image">Image: </label>
                                <input type="text" name="image" id="image"
                                       value="https://www.classcentral.com/report/wp-content/uploads/2021/03/free-certificates.png">
                                <input type="button" value="Check image" onclick="checkImage()">
                                <br>
                                <br>
                                <button type="submit">Submit</button>
                                <a class="button-e" id="button-delete" href="#">Delete</a>
                            </form>
                        </div>
                        <div class="course-el">
                            <a class="button-e" id="button-lesson" href="lesson.html">Lesson</a>
                            <a class="button-e" id="button-quiz" href="quiz.html">Quiz</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="./js/courseDetail.js"></script>

</html>