.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;

    width: 1200px;
    margin: 0 auto;
}

.elem {
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.123);
    border-radius: 10px;
}

.elem > a { color: black; }

.elem > a > div > h3 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.param {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.add-course {
    position: absolute;
    bottom: 10px;
    right: 10px;
}